@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

.mainBody {
  width: 1440px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

div.vertical-line {
  border-left: 2px solid black;
  height: 95px;
  position: absolute;
  left: 9%;
  top: 25%;
  transform: translateY(90deg);
}

div.vertical-line2 {
  border-left: 2px solid rgb(179, 179, 179);
  height: 148px;
  position: absolute;
  left: 9%;
  top: 25%;
  transform: translateY(90deg);
}

select {
  color: #5e5e5e;
  padding: 8px 12px;
  cursor: pointer;

  border-radius: 5px;
  font-weight: 600;
}

select:hover,
select:focus {
  background-color: #fcfcfc;
  outline: none;
}

select option {
  background-color: white;
}
select option:hover {
  background-color: white;
}

.bookNow {
  transition: 0.3s;
}

.bookNow:hover {
  background-color: white;
  color: #4270c9;
}

.bookNow:hover > .bookNowDiv {
  background-color: #4270c9;
}

.exploreMore {
  transition: 0.3s;
}

.exploreMore:hover {
  background-color: #4270c9;
}
.exploreMore:hover > .exploreSp {
  color: white;
}
.exploreMore:hover > .exploreMoreDiv {
  background-color: white;
}
.findHome:hover {
  background-color: white;
  transition: 0.4s;
  border: 0.2px solid grey;
}

.findHomeSpan {
  color: white;
}
.findHome:hover > .findHomeSpan {
  color: #4270c9;
  font-weight: 500;
}
li:hover {
  font-weight: 500;
}

.dots {
  z-index: -10;
  background-image: radial-gradient(#949ed2 20%, transparent 20%);
  background-color: white;
  background-position: 0 0, 50px 50px;
  background-size: 21px 21px;
  opacity: 0.5;
}

@media screen and (min-width: 1440px) {
  .mainBody {
    margin: auto;
    width: 1440;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .mainBody {
    width: 100vw;
  }

  nav {
    flex-direction: column;
  }
  .h1 {
    font-size: 36px;
    margin: auto;
  }

  li {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .overlay-div {
    display: none;
  }

  .gallery {
    margin: 20px;
  }

  div.vertical-line,
  div.vertical-line2,
  .gallery-number {
    display: none;
  }

  .bookNow {
    margin-left: 75px;
  }

  .house-pic {
    display: none;
  }

  .featuredHomes {
    padding-top: 50px;
    align-items: center;
  }
  .exploreMore {
    margin-top: 20px;
  }

  .quote_svg {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
  .mainBody {
    width: 100vw;
  }

  nav {
    flex-direction: column;
  }

  .h1 {
    font-size: 36px;
    margin: auto;
  }

  li {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .gallery {
    margin-left: 40px;
    margin-right: 40px;
  }

  .quote_svg {
    display: none;
  }

  .featuredHomes {
    padding-top: 50px;
    align-items: center;
  }

  .quote_svg {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .mainBody {
    width: 100vw;
  }

  nav {
    flex-direction: column;
  }
  .h1 {
    margin: auto;
    font-size: 30px;
  }

  .findHomeSpan {
    color: black;
  }

  .quote_svg {
    display: none;
  }

  .quote_svg {
    display: none;
  }

  .searchBar {
    display: flex;
    flex-direction: column;
  }

  .overlay-div {
    display: none;
  }

  div.vertical-line,
  div.vertical-line2,
  .gallery-number {
    display: none;
  }
  .jajko {
    margin: auto;
    padding-left: 20px;
  }
  .h3 {
    padding-left: 20px;
  }
  .gallery {
    margin: auto;
  }

  .house-pic {
    display: none;
  }
  .ellipsePic {
    display: none;
  }
  .exploreMore {
    margin: auto;
    margin-top: 20px;
  }
  .dots {
    display: none;
  }
}
